# Entornos virtuales
venv/
env/
.env

# Base de datos SQLite (se genera dinámicamente, no se sube a repo)
trazabilidad.db
*.db
*.sqlite3

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de SO o editores
.DS_Store
.vscode/
.idea/
